

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Pickup Events
                <small>Close to your location</small>
            </h1>
        </div>

    </div>

    <div class="row">
      <% @events.each_with_index do |event, idx| %>
      	<!-- <%# link_to event.title, event_url(event) %> -->

        <div class="col-md-4 portfolio-item">
            <!-- <a href="<%# event_url(event) %>">
                <img class="img-responsive" src="http://placehold.it/700x400">
            </a> -->
            <h3><%= link_to event.title, event_url(event) %>
            </h3>
            <h4><%= event.date %></h4>
            <h4>Looking for: <%=  %></h4>
            <h4>Down: <%= event.attendees.count %></h4>
            <!-- <p><%# event.deets %></p> -->
        </div>
        <%= '</div><div class="clear"></div>'.html_safe if idx % 3 == 2 %>
        <%= '<div class="row">'.html_safe if idx % 3 == 2 %>
      <% end %>
    </div>
    <hr>

    <div class="row text-center">

        <div class="col-lg-12">
            <ul class="pagination">
                <li><a href="#">&laquo;</a>
                </li>
                <li class="active"><a href="#">1</a>
                </li>
                <li><a href="#">2</a>
                </li>
                <li><a href="#">3</a>
                </li>
                <li><a href="#">4</a>
                </li>
                <li><a href="#">5</a>
                </li>
                <li><a href="#">&raquo;</a>
                </li>
            </ul>
        </div>

    </div>

</div>
<!-- /.container -->

<div class="container">

    <hr>

    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Company 2013</p>
            </div>
        </div>
    </footer>

</div>