
<div class="row">
  <div class="col-md-3"></div>
    <div class="col-md-6">
        <h1 class="page-header"><%= @event.title %>
            <small><%= Event::ADVICE.sample() %></small>
        </h1>
    </div>
<div class="col-md-3"></div>
</div>
<div class="skinny">
  <%= link_to "Back to events", events_url %>


  <div class="show-event">
    <h2><%= @event.weekday %></h2>
    <h2><%= @event.time_around %></h2>
    <h2>Looking for: <%= @event.people_needed %></h2><h2>Down: <%= @event.attendees.count %></h2>

    <p><%= @event.deets %></p>


    <a href="https://www.google.com/maps?q=<%= URI.escape(@event.address) %>">
      <img src="http://maps.googleapis.com/maps/api/streetview?sensor=false&size=400x150&location=<%= URI.escape(@event.address) %>"
        alt="Google Streetview" />
    </a>
    <h4><%= @event.address %></h4><br>

    <% if logged_in? %>

      <% attending = current_user.attendees.find_by_event_id(@event.id) %>

      <% if attending %>
      	<%= button_to "I'm Out!", attendee_url(attending), method: :delete, class: "btn-lg btn-warning" %>
      <% else %>
        <%= button_to "I'm In!", event_attendees_url(@event), class: "btn-lg btn-success"%>
      <% end %>

      <% if current_user.id == @event.creator_id %>
        <div class="change-event">
        	<p>
            <%= button_to "Edit Event", edit_event_url(@event), class: "btn btn-info btn-md", method: :get %> OR
            <%= button_to "Cancel Event", event_url(@event), method: :delete, class: "btn btn-danger btn-md" %>
          </p>
        </div>
      <% end %>

    <% else %>
    	<%= button_to "I'm In!", login_url, class: "btn-lg btn-success", method: :get %>
    <% end %>
  </div>
</div>
