<%= link_to "Back to events", events_url %>

<h3><%= @event.title %></h3>
<h4><%= @event.address %></h4>
<p><%= @event.date %></p>
<p><%= @event.time_around %></p>
<p><%= @event.deets %></p>
<% attending = current_user.attendees.select{ |attendee| attendee.event_id == @event.id } %>

<% unless attending.empty? %>
	<%= button_to "I'm Out!", attendee_url(attending.first), method: :delete %>
<% else %>
	<%= button_to "I'm In!", event_attendees_url(@event)%>
<% end %>

<% if current_user.id == @event.creator_id %>
	<%= button_to "Cancel Event", event_url(@event), method: :delete %>
<% end %>
<% if current_user.id == @event.creator_id %>
	<%= button_to "Edit Event", edit_event_url(@event), method: :get %>
<% end %>