<!DOCTYPE html>
<html>
<head>
  <title>Fuckitimin</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<ul>
	<% if current_user %>
	<li class="seetings hidden-phone">
		<a href="/signout" role="button" alt="sign out" >
			<i class="icon-signout"></i> Log Out
		</a>
	</li>
	<% else  	%>
	<li class="settings hidden-phone">
		<a href="auth/facebook" role="button" alt="sign in">
			<i class="icon-signin"></i> This is a link
		</a>
	</li>
	<% end %>
</ul>

<% if flash[:errors] %>
	<% flash[:errors].each do |error| %>
	<%= error %>
	<% end %>
<% end %>
<%= yield %>

</body>
</html>
